%h1
  = t('attributes.h1.user_list')
- @members.each do |member|
  %p
    = t('attributes.user.user_name')
    = member.users.first_name
    = member.users.last_name

%a{:href => "/organizations/users/new", 'data-role' => "button", 'data-mini' => "true"}
  add user
