<h1>Hello World</h1>
<br>
<h2><%= @organization.organization_name %></h2>
<br>
<% @organization.organization_infos.each do |infos| %>
  <%= infos.phone %><br />
<% end %>
<br>
<% @organization.stores.each do |store| %>
  <%= store.store_name %><br />
<% end %>
